.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.sticky {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
}

.menu {
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.sticky .menu {
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.menuItem {
    display: inline-block;
}

.link {
    display: block;
    color: var(--color-primary);
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.link:hover {
    color: var(--color-primary-dark);
    text-decoration: none;
    background: #eee;
    border-radius: 4px;
}

.sticky .link:hover {
    background: transparent;
    color: var(--color-primary-dark);
}

.mobileMenuToggle {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: var(--color-primary);
    font-size: 1.5em;
    z-index: 20;
    padding: 5px 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 768px) {
    .header {
        position: fixed;
        height: 100vh;
        background: #fff;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: none;
    }

    .header.active {
        transform: translateX(0);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .menu {
        display: flex;
        flex-direction: column;
        background: transparent;
        box-shadow: none;
        width: 100%;
    }

    .menuItem {
        display: block;
        margin-bottom: 10px;
    }

    .mobileMenuToggle {
        display: block;
    }

    .fileClose {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color-primary);
    }
}